@charset "UTF-8";

html {
    height: 100%;
}

body {
    height: 100vh;
    /* background-color: #D9AFD9; */
    background-image: linear-gradient(0deg, #ffef63 0%, #1c78e6 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

section {
    /* background-color: #ccd8ff; */
    padding: 100px 0;
    text-align: center
}

div {
    width: 500px;
    /* height: 200px; */
    /* background-color: #4773ff; */
    margin: 0 auto;
}

.title {
    /* h1 {
        margin: 0 auto;
    } */

    img {
        width: 135px;
        height: 50px;
        /* margin: 0 auto; */
    }
}

.sub_title {
    color: #fff;
    font-weight: bold;
    font-size: xx-large;
    margin-bottom: 30px;
    margin-top: -15px;
}

/* positionを使わずに親要素に対して相対的に子要素の位置を合わせる
heightは基本指定しなくてよい min-heightとかは指定する時もある */

#container {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin-bottom: 20px;
    /* margin: 0 auto; */
    /* background-color: #000;
    color: #fff;
    opacity: 0.3; */
    background-color: rgb(0 0 0 / 0.2);
    color: #fff;
    width: 275px;
    /* height: 350px; */
    border-radius: 10px;
    text-align: left;
    /* height: fit-content; */

    p {
        font-size: larger;
        /* position: relative; */
        margin-top: 30px;
        text-align: center;
    }

    a {
        color: #fff;
        /* position: relative; */
        font-size: small;
        top: 30px;
    }
}

label {
    /* position: relative; */
    font-size: small;
    font-weight: normal;
    margin-bottom: 0;
    left: 27px;
    top: 50px;
}

input {
    /* position: relative; */
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 225px;
    height: 35px;
    border-radius: 10px;
    border: none;
    top: 50px;
}

input[type=submit] {
    background-color: #ec4747;
    border-radius: 10px;
    width: 120px;
    height: 35px;
    /* -webkit-appearance: none; */
    border: none;
    /* position: relative; */
    /* top: 75px; */
    left: 130px;
    margin: 20px 4px 20px 110px;
}

/* .alert-danger {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
} */

.alert {
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
    width: 250px;
    /* margin: 0 auto; */
    /* position: relative; */
    top: 30px;
    /* z-index: 50; */
    /* right: 250px; */
}
