@charset "utf-8";

body {
    margin: 0;
}

/* header */
header {
    /* position: fixed; */
    position: sticky;
    top: 0;
    background: #186AC9;
    width: 100%;
    height: 90px;
    z-index: 100;
}

#title {
    /* position: fixed;
    top: 0; */
    margin: 0;

    a {
        display: block;
        width: 125px;
        height: auto;
        position: absolute;
        left: 30px;
        top: 22px;
    }

    img {
        width: 100%;
        height: auto;
        vertical-align: bottom;
    }
}

.head-name {
    position: absolute;
    color: #fff;
    height: auto;
    top: 35px;
    right: 150px;
    font-size: large;
}


.menu-btn {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 20px;
    right: 80px;
    outline: initial;
    /* background-color: #fff;

    &:focus-visible {
        box-shadow: 0 0 0 2px blue;
    } */

    .inn {
        position: relative;
        width: 100%;
        height: 100%;
        display: block;

        &:before {
            position: absolute;
            content: "";
            top: 40%;
            left: 50%;
            width: 15px;
            height: 15px;
            transform: translate(-50%, -40%) rotate(135deg);
            border-top: 3px solid #fff;
            border-right: 3px solid #fff;
            transition: 0.3s ease;
        }
    }
}

.menu-btn.is-open {
    .inn {
        &:before {
            top: 60%;
            transform: translate(-50%, -60%) rotate(-45deg);
        }
    }
}

.menu {
    display: none;
    position: absolute;
    top: 120px;
    right: 1px;
    width: 302px;
    background-color: #fff;
    opacity: 0;
    transition: .3s ease-in-out;
    /* pointer-events: none; */
    transform: translateY(-30px);
    z-index: -10;

    ul {
        margin-bottom: 0px;
        outline: 2px solid #000087;

        li {
            height: 70px;
            border-top: 1px solid #000087;
            display: flex;
            align-items: center;
            justify-content: center;

            a {
                color: #636b6f;
                font-size: 17px;
                font-family: sans-serif;
            }

            &:hover {
                background-color: #000087;

                a {
                    color: #fff;
                    text-decoration: none;
                }
            }
        }
    }
}

.menu.is-open {
    display: block;
    opacity: 1;
    /* transform: translateY(0); */
    z-index: 10;
}

/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
}

#container {
    flex: 0 0 80%;
}

#side-bar {
    flex: 0 0 19%;
    border-left: 1px solid #727272;

    a {
        color: #fff;
        text-decoration: none;
        font-size: small;
    }
}

/* Page Content */
#confirm {
    border-bottom: solid #4d4d4d 1px;
}

.side-bar-btn {
    background-color: #186AC9;
    border-radius: 10px;
    width: 140px;
    margin: 20px 0 25px 120px;
}

.side-bar-search-btn {
    background-color: #186AC9;
    border-radius: 10px;
    width: 150px;
    height: 40px;
    margin: 20px 0 0 70px;
}

















/* post一覧 */
.container {
    width: 100%;
}

.form-group {
    border-bottom: solid #ddd 8px;
    margin: 0 -15px;
    height: 175px;

    display: flex;
    flex-wrap: wrap;
}

.form-group img {
    width: 50px;
    height: 50px;
    margin: 25px 0 0 100px;
}

.textarea {
    resize: none;
    border: none;
    outline: none;
    width: 750px;
    height: 120px;
    margin: 30px 0 0 25px;
}

.post_btn {
    margin: 100px 0 0 0;
    width: 50px;
}

.post-list {
    display: flex;
    flex-wrap: wrap;
    border-bottom: solid #4d4d4d 1px;
    height: 200px;
    margin: 0 -15px;
}

.post-list img {
    width: 50px;
    height: 50px;
    margin: 20px 0 0 150px;
}

.post_name {
    margin: 25px 0 0 25px;
}

.post_date {
    margin: 15px 0 0 750px;
}

.post_post {
    margin: -20px 0 0 225px;
    width: 750px;
}

.post_btn,
.edit_btn,
.delete_btn,
.js-modal-edit,
.search_btn {
    /* position: relative;
    justify-content: space-between;
    子要素を左右に配置
    align-items: center;
    子要素を下に揃える */
    display: flex;
    background-color: #fff;
    border: none;
    width: 55px;
    height: 45px;
}

.edit_btn,
.delete_btn {
    width: 50px;
    height: 50px;
}

.post_btn img,
.edit_btn img,
.delete_btn img,
.js-modal-edit img,
.search_btn img {
    width: 100%;
    height: auto;
    margin: 0;
}

/* post編集 */
/* 必要に応じて編集しご自身でSNS課題のレイアウトのようにカスタマイズしてください。 */
.content {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 50px 0 75px;
}

.modal {
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}

.modal__bg {
    background: rgba(0, 0, 0, 0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
}

.modal__content {
    background: #fff;
    left: 50%;
    padding: 30px 40px 10px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    border-radius: 10px;
}

.modal_post {
    resize: none;
    width: 100%;
    height: 150px;
}

.js-modal-edit {
    margin: 0 auto;
    width: 60px;
}


/* user検索 */
#search-term-display {
    font-size: large;
    color: #464646;
    width: 250px;
    margin: 75px 0 0 75px;
}

.search_btn {
    margin: 70px 0 0 100px;
}

.search_form {
    display: flex;
    position: relative;
    top: 70px;
    left: 85px;
    width: 250px;
    height: 40px;
}

.search_form_group {
    /* border-bottom: solid #ddd 8px;
    margin: 0 -15px;
    height: 175px; */

    display: flex;
    flex-wrap: wrap;
    border-bottom: solid #ddd 8px;
    /* margin: 0 -15px; */
    height: 175px;
}

.user-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 25px 0 25px 350px;
}

.user-list-content {
    display: flex;
    margin: 0 25px 0 0;
}

.user-list-content img {
    width: 50px;
    height: auto;
}

.user-list-name {
    margin: 0;
    width: 250px;
}

.user-list-btn {
    display: flex;
    margin: 0 0 0 50px;
}

.unfollow-btn {
    background-color: #ec4747;
    border-radius: 10px;
    width: 120px;
    height: 35px;
    border: none;
    color: #fff;
    font-size: small;
}

.follow-btn {
    background-color: #2fa3ff;
}


/* フォローリスト フォロワーリスト */

.follow-list,
.follower-list {
    display: flex;
    flex-wrap: wrap;
    border-bottom: solid #ddd 8px;
    height: 175px;
    align-items: center;
}

.follow-list-p {
    margin: 0 25px 0 100px;
    font-size: large;
}

.follow-list img,
.follower-list img {
    width: 50px;
    height: 50px;
    margin: 5px;
}

.follow-list-post,
.follower-list-post {
    display: flex;
    flex-wrap: wrap;
    border-bottom: solid #4d4d4d 1px;
    height: 125px;
}

.follow-list-post img,
.follower-list-post img {
    width: 50px;
    height: 50px;
    margin: 15px 0 0 150px;
}

.follow_post_name {
    margin: 20px 0 0 25px;
}

.follow_post_date {
    margin: 15px 0 0 750px;
}

.follow_post_post {
    margin: -20px 0 0 225px;
    width: 900px;
}


/* フォロープロフィール */

.follow_profile {
    border-bottom: solid #ddd 8px;
    /* margin: 0 -15px; */
    height: 175px;
    display: flex;
    flex-wrap: wrap;
}

.follow_profile img {
    width: 50px;
    height: 50px;
    margin: 25px 0 0 100px;
}


.follow_profile_post {
    display: flex;
    flex-wrap: wrap;
    border-bottom: solid #4d4d4d 1px;
    height: 125px;
}

.follow_profile_post img {
    width: 50px;
    height: 50px;
    margin: 15px 0 0 150px;
}

.follow_profile_postName {
    margin: 20px 0 0 25px;
}

.follow_profile_postDate {
    margin: 15px 0 0 750px;
}

.follow_profile_postContent {
    margin: -20px 0 0 225px;
    width: 900px;
}

.follow_profile_title {
    margin: 40px 0 0 25px;
    width: 150px;
}

.follow_profile_name {
    margin: 40px 500px 0 10px;
    width: 250px;
}

.follow_profileTitle {
    margin: 0 0 0 175px;
    width: 150px;
    height: 50px;
}

.follow_profile_content {
    margin: 0 0 0 10px;
    width: 800px;
}

/* .m-3{
    display: flex;
    flex-wrap: wrap;

} */

.profile_upContent {
    display: flex;
    flex-wrap: wrap;
    width: 400px;


    label {
        margin: 10px 20px 10px 250px;
    }

    input {
        width: 700px;
    }
}

.profile_edit img {
    width: 50px;
    height: 50px;
    margin: 20px 0 0 150px;
}
