@charset "utf-8";

html {}

body {
    margin: 0;
}

/* header */
header {
    position: fixed;
    top: 0;
    background: #186AC9;
    width: 100%;
    height: 90px;
    z-index: 100;
}

#title {
    /* position: fixed;
    top: 0; */

    a {
        display: block;
        width: 125px;
        height: auto;
        position: absolute;
        left: 30px;
    }

    img {
        width: 100%;
        height: auto;
        vertical-align: bottom;
    }
}

.head-name {
    position: absolute;
    color: #fff;
    height: auto;
    top: 35px;
    right: 150px;
    font-size: large;
}


.menu-btn {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 20px;
    right: 80px;
    outline: initial;
    /* background-color: #fff;

    &:focus-visible {
        box-shadow: 0 0 0 2px blue;
    } */

    .inn {
        position: relative;
        width: 100%;
        height: 100%;
        display: block;

        &:before {
            position: absolute;
            content: "";
            top: 40%;
            left: 50%;
            width: 15px;
            height: 15px;
            transform: translate(-50%, -40%) rotate(135deg);
            border-top: 3px solid #fff;
            border-right: 3px solid #fff;
            transition: 0.3s ease;
        }
    }
}

.menu-btn.is-open {
    .inn {
        &:before {
            top: 60%;
            transform: translate(-50%, -60%) rotate(-45deg);
        }
    }
}

.menu {
    position: absolute;
    top: 120px;
    right: 1px;
    width: 302px;
    background-color: #fff;
    opacity: 0;
    transition: .3s ease-in-out;
    /* pointer-events: none; */
    transform: translateY(-30px);
    z-index: -10;

    ul {
        margin-bottom: 0px;
        outline: 2px solid #000087;

        li {
            height: 70px;
            border-top: 1px solid #000087;
            display: flex;
            align-items: center;
            justify-content: center;

            a {
                color: #636b6f;
                font-size: 17px;
                font-family: sans-serif;
            }

            &:hover {
                background-color: #000087;

                a {
                    color: #fff;
                    text-decoration: none;
                }
            }
        }
    }
}

.menu.is-open {
    opacity: 1;
    /* transform: translateY(0); */
    z-index: 10;
}







/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
}

#container {
    flex: 0 0 80%;
}

#side-bar {
    flex: 0 0 19%;
    border-left: 1px solid #727272;
}


/* post一覧 */

.form-group {
    margin-top: 90px;
    border-bottom: solid #ddd 5px;
}

.textarea {
    resize: none;
    border: none;
    outline: none;
}

/* .post-list {
    border-bottom: solid #ddd 1px;
} */

.post_date {
    display: flex;
    position: relative;
    left: 1000px;
}

.post_btn,
.edit_btn,
.delete_btn {
    display: flex;
    position: relative;
    justify-content: space-between;
    /* 子要素を左右に配置 */
    align-items: center;
    /* 子要素を下に揃える */
    background-color: #fff;
    border: none;
    width: 50px;
    height: 50px;
}

.post_btn {
    bottom: 30px;
    left: 900px;
}

.edit_btn {
    left: 950px;
}

.delete_btn {
    left: 990px;
    bottom: 50px;
}

.post_btn img,
.edit_btn img,
.delete_btn img {
    width: 100%;
    height: auto;
}
